<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <style>
    div {}
     body{
    background-size: 100% ;
    background-repeat: no-repeat;
  </style>
</head>

<body>
 <div class="login">
    <h1 style = 'color:Black;'>Prediction: Likelihood of course completion in percentage</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
        <input type="text" name="module_presentation_length" placeholder="module length in days" required="required" />
        <input type="text" name="gender" placeholder="gender" required="required" />
        <input type="text" name="region" placeholder="region code (0 to 12)" required="required" />
        <input type="text" name="highest_education" placeholder="education in level" required="required" />
        <input type="text" name="age_band" placeholder="age (0-35,35-55,55-75)" required="required" />
        <input type="text" name="num_of_prev_attempts" placeholder="number of previous attempts" required="required" />
        <input type="text" name="studied_credits" placeholder="studied credits" required="required" />
        <input type="text" name="disability" placeholder="disability" required="required" />
        <input type="text" name="date_registration" placeholder="date of registration in days" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>